.coming-soon {
    height: 100vh;
    background-image: url("../../assets/football-background.jpg");
    background-size: cover;
    font-family: 'Staatliches', cursive;
}

.texts {
    font-size: 65px;
    opacity: 0.9;
}

